<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center mb-5">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="post" class="mb-5 validated-form" enctype="multipart/form-data"
                novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input id="price" type="text" class="form-control" placeholder="0.00" aria-label="price"
                            aria-describedby="price" name="campground[price]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" rows="3" name="campground[description]"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
                    <div id="fileList" class="form-text mt-2 text-muted"></div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>

    </div>